<h2>Listado de Empleados</h2>
<div class="table">
    <button type="button" class="btn btn-outline-success" (click)="open(content,null)">Agregar un nuevo Usuario</button>
    <hr>
    <div class="col-12">
        <div class="form-group">
            <input type="text" class="form-control" name="filterUser" placeholder="Buscar...." [(ngModel)]="filterUser">
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" [appSort]="variable" data-order="desc" data-name="id">ID</th>
                <th scope="col" [appSort]="variable" data-order="desc" data-name="username">CORREO</th>
                <th scope="col" [appSort]="variable" data-order="desc" data-name="nombre">NOMBRE</th>
                <th scope="col" [appSort]="variable" data-order="desc" data-name="apellido">APELLIDO</th>
                <th scope="col" [appSort]="variable" data-order="desc" data-name="rol">ROL</th>
                <th scope="col" [appSort]="variable" data-order="desc" data-name="modificado">FECHA MODIFICACION</th>
                <th scope="col">¿Activo?</th>
                <th scope="colgroup">Accciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of variable | filter:filterUser">
                <th scope="row">{{item.id}}</th>
                <td>{{item.username}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.rol}}</td>
                <td>{{item.modificado | date : 'dd/MM/yy HH:mm:ss'}}</td>
                <td>{{item.activo}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning btn-sm"
                            (click)="open(content,item)">Modificar</button>
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="eliminar(item.id)">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div>{{variable | json}}</div> -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!flag">Agregar Usuario</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="flag">Actualizar Usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]='userForm'>
            <fieldset>
                <div class="form-group">
                    <label>Correo<span class="required-field">*</span>: </label>
                    <input type="text" formControlName="username" class="form-control">
                    <div class="invalid" *ngIf="checkField('username')">
                        <small>{{fieldMessage('username')}}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nombre<span class="required-field">*</span>: </label>
                    <input type="text" formControlName="nombre" class="form-control">
                    <div class="invalid" *ngIf="checkField('nombre')">
                        <small>{{fieldMessage('nombre')}}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Apellido<span class="required-field">*</span>: </label>
                    <input type="text" formControlName="apellido" class="form-control">
                    <div class="invalid" *ngIf="checkField('apellido')">
                        <small>{{fieldMessage('apellido')}}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password<span class="required-field">*</span>: </label>
                    <input type="password" formControlName="password" class="form-control">
                    <div class="invalid" *ngIf="checkField('password')">
                        <small>{{fieldMessage('password')}}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>¿Activo?:</label>
                    <select class="custom-select" formControlName="activo">
                      <option value="{{true}}" selected>Si</option>
                      <option value="{{false}}">NO</option>
                    </select>
                  </div>
            </fieldset>
        </form>
        <p class="card-text" style="font-size: small;"><span class="required-field">*</span> <span>Campo
                obligatorio</span></p>
    </div>
    <div class="modal-footer">
        <button [disabled]="userForm.invalid" type="button" class="btn btn-primary btn-lg btn-block" (click)="guardar()"
            *ngIf="!flag">Agregar</button>
        <button [disabled]="userForm.invalid" type="button" class="btn btn-primary btn-lg btn-block" (click)="guardar()"
            *ngIf="flag">Actualizar</button>
    </div>
</ng-template>