<div class="container grafico mx-auto">
    <br>
    <h3>Total Ventas por Empleado</h3>
    <ngx-charts-advanced-pie-chart [view]="view" scheme="cool" [results]="users" [gradient]="gradient"
        [label]="'Monto de Venta Total'" (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>
</div>
<hr>
<div class="container grafico mx-auto">
    <br>
    <h3>Conteo Total de Productos en Ventas</h3>
    <ngx-charts-bar-vertical [view]="view" scheme="cool" [results]="products" [gradient]="gradient"
        [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
        [showYAxisLabel]="true" [xAxisLabel]="'Productos'" [yAxisLabel]="'Ventas'" [legendTitle]="'Productos'"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
</div>